<body>
    <div class="container">
        <form action='@Url.Action("PaginaPrincipal","Home")' style="margin-top: 10%;" onsubmit="alert('Gracias por su compra')" >
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Titular de Tarjeta</label>
                    <input type="text" class="form-control" id="inputEmail4" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Numero de Tarjeta</label>
                    <input type="number" class="form-control" id="inputPassword4" placeholder="XXXX-XXXX-XXXX-XXXX" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Codigo de seguridad</label>
                    <input type="password" class="form-control" id="inputPassword4" placeholder="XXX" required>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Direccion</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Calle 1234" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">Ciudad</label>
                    <input type="text" class="form-control" id="inputCity" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputCity">Provincia</label>
                    <input type="text" class="form-control" id="inputCity" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">Código Postal</label>
                    <input type="text" class="form-control" id="inputZip" required>
                </div>
            </div>
            <div class="form-group">
                <a href="#">Terminos de venta</a>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" required>
                    <label class="form-check-label" for="gridCheck">
                        He leído los terminos de venta de Delta Games
                    </label>
                </div>
            </div>
            <button class="btn btn-success" type="submit" style="margin-bottom: 5px;">PAGAR</button>
        </form>
    </div>
</body>