html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: rgb(18,180,232);
  background: linear-gradient(90deg, rgba(18,180,232,1) 0%, rgba(2,156,218,1) 30%, rgba(2,156,218,1) 72%, rgba(18,209,232,1) 100%);
}
.NuevoJuego {
  position: absolute;
  top: 39%;
  left: 44.5%;
  width: 10%;
}
.iniciosesion{
  background-color: #71cedaab;
}

.formLogin h1 {
  color: #333; 
}

.formLogin input {
  width: 50%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.imag1{
  margin-left: 55px;
}

.formLogin button {
  width: 40%;
  padding: 10px;
  background-color: #4CAF50; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s; /* Agregamos transiciones para suavizar los cambios */
}



.formLogin button:hover {
  background-color: #45a049; /* Cambiamos el color de fondo en hover */
  transform: scale(1.1); /* Hacemos el botón un 10% más grande en hover */
}



/* agregar juego */


.formAgr {
  width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formAgr label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.formAgr input,
.formAgr select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.formAgr input[type="file"] {
  padding: 8px;
}

.formAgr input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formAgr input[type="submit"]:hover {
  background-color: #2980b9;
}

.formAgr .error {
  color: #e74c3c;
  margin-top: 5px;
  font-size: 14px;
}

/* Estilo para el contenedor de la fecha */
.formAgr .fecha-container {
  display: flex;
  gap: 10px;
}

/* Estilo para el contenedor de la imagen */
.formAgr .imagen-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo para la etiqueta de la imagen */
.formAgr .imagen-container label {
  margin-bottom: 0;
}

.formulario{
  background-image: url("/img/Fondo.jpg");
}





/* comprar */





























.likes {
  font-size: medium;
  margin-bottom: -11%;
  margin-left: 12%;
}

.corazon {
  width: 10%;
  height: 12%;
}

.masInfo{
  margin-top: 5%;
}
.buttonCerrar {
  margin-right: 34%;
  width: 150px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
}

.buttonCerrar .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.buttonCerrar .icon {
  position: absolute;
  border-left: 1px solid #c41b1b;
  transform: translateX(110px);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonCerrar svg {
  width: 15px;
  fill: #eee;
}

.buttonCerrar:hover {
  background: #ff3636;
}

.buttonCerrar:hover .text {
  color: transparent;
}

.buttonCerrar:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.buttonCerrar:focus {
  outline: none;
}

.buttonCerrar:active .icon svg {
  transform: scale(0.8);
}

.buttonComprar {
  width: 150px;
  height: 35px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #04ca0e;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #04ca0e;
}

.buttonComprar,
.buttonComprar span,
.buttonCerrar,
.buttonCerrar span {
  transition: 400ms;
}

.buttonComprar .text {
  transform: translateX(35px);
  color: white;
  font-weight: bold;
}

.buttonComprar .icon {
  position: absolute;
  border-left: 1px solid #09a711;
  transform: translateX(110px);
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonComprar svg {
  width: 15px;
  fill: #eee;
}

.buttonComprar:hover {
  background: #09a711;
}

.buttonComprar:hover .text {
  color: transparent;
}

.buttonComprar:hover .icon {
  width: 150px;
  border-left: none;
  transform: translateX(0);
}

.buttonComprar:focus {
  outline: none;
}

.buttonComprar:active .icon svg {
  transform: scale(0.8);
}

.formLogin {
  margin-left: 30%;
  width: 40%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(52,52,52,1) 24%, rgba(0,176,234,1) 100%);
  /*background: rgb(242,242,242);
    background: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(208,208,233,1) 35%, rgba(185,229,238,1) 100%);*/
  text-align: center;
}

.imagenLogin {
  margin-top: 10%;
  margin-left: 30%;
  width: 40%;
}

.CS{
  position: absolute;
  bottom: 96%;
  right: 8%;
  color: #eee;
}
