USE [master]
GO
/****** Object:  Database [DB_Conciertos]    Script Date: 16/11/2023 15:19:55 ******/
CREATE DATABASE [DB_Conciertos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Conciertos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Conciertos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Conciertos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_Conciertos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Conciertos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Conciertos]
GO
/****** Object:  User [alumno]    Script Date: 16/11/2023 15:19:56 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Artista]    Script Date: 16/11/2023 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artista](
	[IdArtista] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Artista] PRIMARY KEY CLUSTERED 
(
	[IdArtista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 16/11/2023 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[IdConcierto] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioConcierto] PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Concierto]    Script Date: 16/11/2023 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Concierto](
	[IdConcierto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Hora] [time](7) NOT NULL,
	[IdArtista] [int] NOT NULL,
	[Ubicacion] [text] NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Imagen] [text] NOT NULL,
	[Genero] [varchar](50) NOT NULL,
	[Stock] [int] NOT NULL,
	[Mes] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Concierto] PRIMARY KEY CLUSTERED 
(
	[IdConcierto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artista] ON 

INSERT [dbo].[Artista] ([IdArtista], [Nombre]) VALUES (1, N'Taylor Swift')
INSERT [dbo].[Artista] ([IdArtista], [Nombre]) VALUES (2, N'Bad Bunny')
INSERT [dbo].[Artista] ([IdArtista], [Nombre]) VALUES (3, N'Rauw Alejandro')
SET IDENTITY_INSERT [dbo].[Artista] OFF
GO
SET IDENTITY_INSERT [dbo].[Concierto] ON 

INSERT [dbo].[Concierto] ([IdConcierto], [Nombre], [Fecha], [Hora], [IdArtista], [Ubicacion], [Pais], [Imagen], [Genero], [Stock], [Mes]) VALUES (6, N'Taylor Swift Live', CAST(N'2023-01-15' AS Date), CAST(N'19:00:00' AS Time), 1, N'Estadio Nacional', N'Argentina', N'yggj', N'Pop', 5000, N'Enero')
INSERT [dbo].[Concierto] ([IdConcierto], [Nombre], [Fecha], [Hora], [IdArtista], [Ubicacion], [Pais], [Imagen], [Genero], [Stock], [Mes]) VALUES (7, N'Bad Bunny World Tour', CAST(N'2023-02-20' AS Date), CAST(N'20:30:00' AS Time), 2, N'Estadio Monumental', N'Chile', N'hwqwj', N'Trap', 6000, N'Febrero')
INSERT [dbo].[Concierto] ([IdConcierto], [Nombre], [Fecha], [Hora], [IdArtista], [Ubicacion], [Pais], [Imagen], [Genero], [Stock], [Mes]) VALUES (8, N'Rauw Alejandro Live', CAST(N'2023-03-10' AS Date), CAST(N'18:45:00' AS Time), 3, N'Arena Bogotá', N'Colombia', N'jbj', N'Rap', 4000, N'Marzo')
SET IDENTITY_INSERT [dbo].[Concierto] OFF
GO
/****** Object:  Trigger [dbo].[TR_ActualizarStock]    Script Date: 16/11/2023 15:19:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TR_ActualizarStock]
ON [dbo].[Compra] FOR INSERT
AS
	BEGIN
		UPDATE Concierto SET Stock = Stock - (SELECT Cantidad FROM inserted)
	END
GO
ALTER TABLE [dbo].[Compra] ENABLE TRIGGER [TR_ActualizarStock]
GO
USE [master]
GO
